---
import DashboardComponent from "../components/Dashboard";
---

<html lang="es">
  <head>
    <title>Dashboard</title>
  </head>
  <body>
    <main class="p-6">
      <h1 class="text-2xl font-bold">Panel de Usuario</h1>

      <DashboardComponent client:only="react" />
    </main>
  </body>
</html>
