---
import Login from "../components/Login.tsx";
---

<html lang="es">
  <head>
    <meta charset="utf-8" />
    <title>Login - Asistencia</title>
  </head>
  <body>
    <main
      style="display:flex;justify-content:center;align-items:center;height:100vh;flex-direction:column;"
    >
      <h1>Iniciar sesión</h1>
      <Login client:only="react" />
    </main>
  </body>
</html>
